@font-face {
  font-family: Roboto;
  src: url(../assests/fonts/Roboto/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Roboto,Arial;
    padding-top: 60px;
  }
