main {
    margin-left: 100px;
    margin-right: 95px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.content {
    flex-basis: 62%;
    margin-right: 1rem;
}

.content-title{
    font-size: 1.25rem;
    font-weight:500;
    line-height: 28px;
    margin: 5px 0px;
}

.content-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.content-info-left{
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.content-channel-image{
    width: 45px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.content-channel-info{
    margin-left: 10px;
    margin-right: 30px;
}

.content-channel-name{
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.content-channel-subscribers{
    font-size: 0.75rem;
    margin-top: 3px;
    font-weight: 100;
    color: rgb(128, 128, 128);
}

.subscribe{
    background-color: black;
    color: white;
    height: 35px;
    width: 95px;
    border-radius: 40px;
    border-style: none;
    font-weight: 500;
    font-size: 0.875rem;
    cursor: pointer;
}

.content-info-right{
    flex-basis: 41%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-like-dislike{
    display: flex;
    align-items: center;
}

.content-like{
    display: flex;
    align-items: center;
    height: 35px;
    width: 75px;
    border-style: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    cursor: pointer;
    background-color: #f2f2f2;
}

.content-like:hover:not(.content-like_active){
    background-color: rgb(214, 214, 214);
}

.content-like_active{
    background-color: rgb(154, 154, 154);
}

.content-like-icon{
    width: 70px;
    margin-left: -10px;
}

.likes{
    font-size: 0.875rem;
    margin-left: -17px;   
}

.like-dislike-vertical-line{
    border-left: 1px solid rgb(183, 182, 182);
    height: 25px;
    z-index: 1;
    margin-right: -1px;
}

.content-dislike{
    height: 35px;
    width: 45px;
    border-style: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
    background-color: #f2f2f2;
}

.content-dislike:hover:not(.content-dislike_active){
    background-color: rgb(214, 214, 214);
}

.content-dislike_active{
    background-color: rgb(154, 154, 154);
}

.content-dislike-icon{
    width: 27px; 
}

.content-share{
    display: flex;
    padding: 5px;
    align-items: center;
    height: 35px;
    width: 85px;
    border-style: none;
    border-radius: 16px;
    cursor: pointer;
    background-color: #f2f2f2;
}

.content-share:hover{
    background-color: rgb(214, 214, 214);
}

.share{
    font-size: 0.875rem;
    font-weight: 500;
    margin-left: 3px;
}

.content-more{
    height: 35px;
    width: 35px;
    border-style: none;
    border-radius: 23px;
    cursor: pointer;
    background-color: #f2f2f2;
}

.content-more:hover{
    background-color: rgb(214, 214, 214);
}

.content-more-icon{
    margin-top: 5px;
}

.video-description{
    background-color: rgb(244, 244, 244);
    padding: 15px 15px;
    margin: 12px 0px;
    border-radius: 20px;
    cursor: pointer;
}

.video-description:hover{
    background-color: rgb(214, 214, 214);
}

.video-views-date{
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 10px;

}

.video-additional-info{
    font-size: 0.875rem;
    line-height: 10px;
    color: rgb(15, 15, 15)
}

.comment-section{
    margin: 2rem 0;
    padding-bottom: 24rem;

}

.comment-info{
    display: flex;
}

.total-comments{
    font-size: 1.25rem;
    font-weight: 600;
    margin-right: 2rem;
}

.sort-image-icon{
    cursor: pointer;
}

.sort-by{
    padding-left: 1rem;
    cursor: pointer;
}

.add-comment{
    display: flex;
    margin: 2rem 0;
    align-items: start;
}

.account-image{
    width: 40px;
    border-style: none;
    border-radius: 20px;
}

.input-comment{
    margin-left: 1rem;
    padding-bottom: 0.5rem;
    border: 0;
    outline: none;
    border-bottom: 1px;
    border-style: solid;
    border-color: rgb(234, 227, 227);
    width: 100%;
}

.comment-container{
    margin: 1rem 0;
}

.comments{
    display: flex;
    align-items: start;
}

.comment-channel-img{
    width: 40px;
    height: 40px;
    border-style: none;
    border-radius: 20px;
}

.comment-channel-info{
    margin: 0 0.5rem;
}

.comment-channel-name{
    font-size: 0.75rem;
}

.comment-channel-date{
    font-size: 0.75rem;
    color: grey;
}

.display-comment{
    font-size: 0.875rem;
    margin-top: 0.3rem;
}

.comment-like-dislike{
    display: flex;
    margin-top: 0.5rem;
    margin-left: 3rem;
    align-items: center;
    gap: 1rem;
}

.comment-like,
.comment-dislike{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
}

.likes{
    padding-left: 0.1rem;
    font-size: 0.75rem;
}
.comment-like-icon{
    width: 70px; 
}

.comment-dislike-icon{
    width: 25px;
}

.comment-like:hover,
.comment-dislike:hover,
.reply:hover{
    background-color: rgb(214, 214, 214);
}

.reply{
    font-size: 0.75rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}


/* side-recommendation gores from here */

.side-recommendation {
    flex-basis: 36%;
}

.side-video-list {
    display: flex;
    width: 23rem;
    justify-content: space-between;
    margin-bottom: 6px;
    flex-shrink: 0;
}

.side-video-list img {
    width: 180px;
    border-radius: 12px;
}

.side-video-list .thumbnail {
    flex-basis: 49%;
}

.side-video-list .video-info {
    flex-basis: 49%;
}

a {
    text-decoration: none;
    color: black;
    display: block;
}

.video-title {
    font-size: 0.875rem;
    font-weight:500;
    margin-bottom: 8px;
    overflow: hidden;
    max-height: 40px;
    line-height: 20px;
}

.channel-name,
.video-views{
    color: rgb(96, 96, 96);
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 4px;
}

  /*css for tooltip */
  .content-like,
  .content-dislike,
  .content-share,
  .sort-by,
  .comment-like,
  .comment-dislike{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content-like .tooltip,
  .content-dislike .tooltip,
  .content-share .tooltip,
  .sort-by .tooltip,
  .comment-like .tooltip,
  .comment-dislike .tooltip{
    position: absolute;
    background-color: rgb(103, 103, 103);
    font-size: 0.75rem;
    color: white;
    bottom: -50px;
    padding: 10px 8px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
  }

  .content-like:hover .tooltip,
  .content-dislike:hover .tooltip,
  .content-share:hover .tooltip,
  .sort-by:hover .tooltip,
  .comment-like:hover .tooltip,
  .comment-dislike:hover .tooltip{
    opacity: 1;
  }

  .sort-by .tooltip{
    white-space: wrap;
    line-height: 1rem;
  }

  /* css for modal */

  .content-share-modal{
    position: fixed;
    display: none;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
    border-radius: 1rem;
    padding: 2rem 2rem 2rem;
    top: 50%;
    left: 50%;
    z-index: 102;
    pointer-events: all;
    cursor: pointer;
    gap: 1rem;
    height: 325px;
    width: 525px;
    margin-top: calc(-325px/2);
    margin-left: calc(-525px/2);
    justify-content: space-between;
  }

  .content-share-modal_show{
    display: flex;
  }

  .content-share-modal .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .head .share{
    font-size: 1rem;
    font-weight: 300;
    color: #2d2d2d;
  }

  .head .cross{
    height: 1.5rem;
    width: 1.5rem;
  }

  .share-option{
    display: flex;
    gap: 1rem;
  }

  .share-option div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .share-option img{
    width: 60px;
  }

  .share-option span{
    font-size: 0.75rem;
    text-align: center;
  }

  .copy-clipboard{
    display: flex;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .copy-clipboard span{
    font-size: 0.875rem;
    font-weight: 200;
  }

  .copy-button{
    background-color: #065fd4;
    padding: 10px 15px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
  }

  .copy-button:hover{
    background-color: #05489f;
  }

  .content-share-modal hr{
    color: rgb(182, 182, 182);
  }

  .start{
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    font-size: 0.875rem;
    color: rgb(115, 115, 115);
    padding-left: 0.5rem;
  }

  .start .checkbox{
    appearance: none;
    cursor: pointer;
    border: solid black;
    border-width: 2px;
    width: 20px;
    height: 20px
  }

  .start .time{
    color: rgb(141, 140, 140);
  }

  .copied-notification{
    padding: 1rem;
    width: 20rem;
    background-color: black;
    border-radius: 0.5rem;
    position: fixed;
    bottom: 1rem;
    color: white;
    left: 1rem;
    font-size: 0.875rem;
    display: none;
  }

